(logging/init :file "logs/riesk.log")
(tcp-server)
(udp-server)

(require 'riesk.elastic)
(def esconnection (riesk.elastic/connect [["localhost" 9300]] {"cluster.name" "riesk-cluster"}))
(riesk.elastic/load-template esconnection "default" "config/elasticsearch-mapping.edn")

(streams
    (where (and (not (service #"^riemann")) (not (service #"^jvm"))) 
        (rollup 1 5 (riesk.elastic/index esconnection "reisk" :series :day :index-name "logstash"))))
