(logging/init :file "logs/riesk.log")
(tcp-server)
(udp-server)

(require 'riesk.elastic)
(def esconnection (riesk.elastic/connect "http://localhost:9200" "riesk.cluster"))
(riesk.elastic/load-template esconnection "default" "config/elasticsearch-mapping.edn")

(streams
    (where (and (not (service #"^riemann")) (not (service #"^jvm"))) 
        (rollup 1 5 (riesk.elastic/index esconnection "reisk" :timestamping :day :index "logstash"))))
